.App {
  text-align: center;
  margin: 50px;
}

.button-active {
  background-color: #4CAF50;
  padding: 10px;
  border: 1px solid black;
  margin: 15px;
  margin-top: 100px;
  font-size: medium;
}

.button-inactive {
  background-color: red;
  padding: 10px;
  border: 1px solid black;
  margin-top: 100px;
  font-size: medium;
}

.display-content {
  height: 200px;
  width: 400px;
  margin: 10px auto;
  padding: 30px;
  border: 1px solid black;
}